html {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    
}

body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    border-radius: 15px;
    padding: 15px;
    margin: 100px auto;

}

img {
    border-radius: 5px;
    width: 100%;
}
h3{
color: hsl(218, 44%, 22%);
margin: 10px 10px 5px;
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 11px;
    opacity: 0.6;
    margin: 2px 30px 5px;
font-size: 15;

}