* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;

}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    border-radius: 15px;
    padding: 15px;
    margin: auto ;
}

img {
    border-radius: 5px;
    width: 100%;
}

h3 {
    color: hsl(218, 44%, 22%);
    margin: 10px 10px 5px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 11px;
    opacity: 0.6;
    margin: 2px 30px 5px;
    font-size: 15;

}

.attribution {
    position: absolute;
    font-size: 11px;
    text-align: center;
    bottom: 0;
    margin: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}