* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
    /* Colors */

    /* Primary */

    --Scissors_Gradient_color1: hsl(39, 89%, 49%);
    --Scissors_Gradient_color: hsl(40, 84%, 53%);
    --Paper_Gradient_color1: hsl(230, 89%, 62%);
    --Paper_Gradient_color1: hsl(230, 89%, 65%);
    --Rock_Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
    --Lizard_Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
    --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

    /* Neutral */

    --Dark_Text: hsl(229, 25%, 31%);
    --Score_Text: hsl(229, 64%, 46%);
    --Header_Outline: hsl(217, 16%, 45%);

    /* Background */

    --Radial_Gradient_color1: hsl(214, 47%, 23%);
    --Radial_Gradient_color2: hsl(237, 49%, 15%);
}

body {
    height: 100vh;
    background-image: radial-gradient(var(--Radial_Gradient_color1), var(--Radial_Gradient_color2));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    position: relative;
}

.score-board {
    width: 700px;
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--Header_Outline);
    border-radius: 15px;
    padding: 15px 20px;
}



.score-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 10px #4342429b;
    border-radius: 10px;
    gap: 15px;
    padding: 20px 50px;
}

.score-label{
    color: var(--Score_Text);
    font-size: 25px;
    letter-spacing: 2px;
}

.score{
    color: var(--Dark_Text);
    font-size: 100px;
    font-weight: 700;
}
.rulesBtn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 15px 35px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--Dark_Text);
}